<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white min-h-screen justify-center">

    <nav class="items-center p-4 bg-gray-800 text-white">
        <ul class="flex justify-around text-2xl">
            <li class="hover:text-blue-500">
                <a href="/">Home</a>
            </li>
            <li class="hover:text-blue-500">
                <a href="/calculator/">Calculator</a>
            </li>

            {% if user.is_authenticated %}
            
            <li class="hover:text-blue-500">
                <a href="/history/">History</a>
            </li>
            
            <li class="hover:text-blue-500">
                <a href="/logout/">Logout</a>
            </li>

            {% else %}

            <li class="hover:text-blue-500">
                <a href="/signup/">Signup</a>
            </li>

            <li class="hover:text-blue-500">
                <a href="/signin/">Login</a>
            </li>

            {% endif %}

        </ul>
    </nav>
    
    {% block content %}
    {% endblock %}

</body>
</html>